fastapi
uvicorn[standard]
pydantic
pydantic-core
passlib[bcrypt]
python-jose[cryptography]
sqlalchemy
psycopg2-binary
alembic
email-validator 
pydantic[email]
python-multipart
slowapi 
redis 
aioredis
itsdangerous
